:root {
  --default-font-family: "Inter", "sans-serif";
  --default-main-color: #ea580c;
  --secondary-color: #c2410c;
  --accent-color: #fb923c;
  --text-dark-100: #7c2d12;
  --tr-shadow-color: color-mix(
    in oklab,
    color-mix(in oklab, var(--default-main-color) 25%, transparent) 100%,
    transparent
  );
}

html {
  scroll-behavior: smooth;
}
* {
  font-family: var(--default-font-family), sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
main {
  overflow-x: hidden;
}

section {
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.card-icon {
  width: 64px;
  height: 64px;
}

.nav-btn {
  height: 48px;
  padding: 12px 32px;

  &:first-child:hover {
    color: var(--default-main-color) !important;
  }

  & ~ .get-started-btn:hover {
    box-shadow: 0 20px 5px -12px color-mix(in oklab, color-mix(
            in oklab,
            var(--default-main-color) 20%,
            transparent
          )
          100%, #00000040);
  }
}

#navbarSupportedContent ul li {
  width: 100%;
  &:hover {
    color: var(--default-main-color);
  }
}
.dropdown-menu {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.25s ease;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 300px;
  border: 0;
  padding: 0;
  visibility: hidden;
}
.dropdown-menu .dropdown-slide-card {
  padding: 10px;
  transition: all 0.3s;

  border-radius: 10px;
  .service-icon {
    transition: all 0.3s;
  }
  .slide-header {
    transition: all 0.3s;
  }
  &:hover {
    .service-icon {
      transform: scale(1.1);
    }
    background-color: color-mix(in oklab, var(--default-main-color) 10%, white);
    .slide-header {
      color: var(--default-main-color) !important;
    }
  }
}
.dropdown-menu.show {
  opacity: 1;
  transform: translateY(0px);

  visibility: visible;
}
.nav-link.show .dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-arrow {
  transition: transform 0.3s ease;
}
.navbar .logo-icon {
  width: 35px;
  height: 35px;
}
.navbar .dropdown-card {
  background-image: linear-gradient(to right bottom, #ea580c1a, #c2410c1a);
  width: 100%;
  border: 1px solid var(--default-main-color);
}
.navbar .service-icon {
  background-image: linear-gradient(to bottom right, #ea580c1a, #c2410c1a);
}
.navbar .nav-link.active {
  color: var(--default-main-color) !important;
}

.navbar .nav-link.active::after {
  width: 100% !important;
}
#navbarSupportedContent .nav-link {
  &:hover {
    color: var(--default-main-color) !important;
  }
}
#navbarSupportedContent .nav-underline {
  position: relative;
  font-weight: 500;
  padding: 0;
}

#home {
  padding-block: 96px 64px;
  background-image: linear-gradient(
    to bottom right,
    #fff7ed,
    #ffffff,
    oklch(98% 0.016 73.684)
  );
}

.home-section-badge {
  background-color: #fce9db;
}

#home h1 {
  span:first-child {
    background-image: linear-gradient(
      to right,
      var(--text-dark-100),
      var(--default-main-color),
      var(--secondary-color)
    );
  }

  font-weight: 900;
}

#home h1 span {
  background-image: linear-gradient(
    to right,
    var(--accent-color),
    var(--default-main-color)
  );
}

.btn-hero {
  padding: 16px 40px;
  transition: all 0.3s;
}
.btn-hero:first-child {
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px -3px var(--tr-shadow-color, #0000001a),
      0 4px 6px -4px var(--tr-shadow-color, #0000001a);
  }
}

.btn-demo:hover {
  border-color: var(--default-main-color) !important;
  color: var(--default-main-color) !important;
}
.hero-img {
  background-color: #ffffff;
  height: 270px;
  width: 270px;
}

.hero-img-container .img-badge {
  width: 44px;
  height: 44px;
}

.hero-img-container .img-badge-1 {
  background-image: linear-gradient(
    to bottom right,
    #fb923c,
    var(--default-main-color)
  );
  width: 55px;
  height: 55px;
  translate: 25px -20px;
}

.hero-img-container .img-badge-2 {
  background-image: linear-gradient(
    to bottom right,
    var(--secondary-color),
    var(--default-main-color)
  );
  translate: -25px 20px;
}

.hero-img-shadow {
  height: 100%;
  width: 100%;

  background-color: #f8daca;
  transform: rotate(3deg);
}

.section-badge {
  background-color: #fce9db;
}

.section-header h2 span {
  background-image: linear-gradient(
    to right,
    var(--default-main-color),
    var(--secondary-color)
  );
}

#services {
  padding-block: 96px;
  h3 {
    color: var(--text-dark-100);
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }

  .service-card {
    padding: 30px;
    transition: all 0.5s;
    height: 424px;
  }

  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 50px -12px color-mix(in oklab, color-mix(
            in oklab,
            var(--default-main-color) 10%,
            transparent
          )
          100%, #00000040);
  }
  .service-card .card-icon {
    transition: all 0.5s;
  }
  .service-card:hover .card-icon {
    transform: scale(1.1);
  }
  .service-card .learn-more i {
    transition: all 0.5s;
  }
  .service-card:hover .learn-more i {
    translate: 5px;
  }
  .service:nth-child(1) .card-icon {
    background-image: linear-gradient(
      to bottom right,
      var(--default-main-color),
      var(--secondary-color)
    ) !important;
  }
  .service:nth-child(2) .card-icon {
    background-image: linear-gradient(
      to bottom right,
      var(--accent-color),
      var(--default-main-color)
    ) !important;
  }
  .service:nth-child(3) .card-icon {
    background-image: linear-gradient(
      to bottom right,
      var(--secondary-color),
      var(--accent-color)
    ) !important;
  }
  .service:nth-child(4) .card-icon {
    background-image: linear-gradient(
      to bottom right,
      var(--default-main-color),
      var(--secondary-color),
      var(--accent-color)
    ) !important;
  }
  .service:nth-child(5) .card-icon {
    background-image: linear-gradient(
      to bottom right,
      var(--accent-color),
      var(--secondary-color)
    ) !important;
  }
  .service:nth-child(6) .card-icon {
    background-image: linear-gradient(
      to bottom right,
      var(--secondary-color),
      var(--default-main-color)
    ) !important;
  }
}

#technologies {
  .nav {
    /* position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 80%;
      bottom: 0;
      background-color: #e5e7eb;
      z-index: -1;
    } */

    border-bottom: 1px solid;

    border-color: #e5e7eb;
  }

  .nav-link {
    padding: 7px 14px;
    color: var(--default-main-color);
  }
  .nav-link.active {
    color: var(--default-main-color) !important;
    background-color: transparent;
  }
  .nav-link:hover {
    color: var(--default-main-color) !important;
  }
  .main {
    margin-top: 80px;
  }
  .technology {
  }
  .technology-card {
    min-height: 302px;
    padding: 32px;
    transition: all 0.3s;
  }
  .technology-badge {
    padding: 4px 12px;
  }
  .frontend-tab .technology:nth-child(1) .technology-card, /* blue */
  .backend-tab .technology:nth-child(2) .technology-card,
  .cloud-devops-tab .technology:nth-child(2) .technology-card,
  .cloud-devops-tab .technology:nth-child(4) .technology-card,
  .database-tab .technology:nth-child(1) .technology-card {
    background-image: linear-gradient(to bottom right, #eff6ff, #dbeafe);
  }
  .frontend-tab .technology:nth-child(2) .technology-card, /* gray */
  .mobile-tab .technology:nth-child(3) .technology-card ,
  .cloud-devops-tab .technology:nth-child(6) .technology-card {
    background-image: linear-gradient(to bottom right, #f9fafb, #f3f4f6);
  }
  .frontend-tab .technology:nth-child(3) .technology-card, /* green */
  .backend-tab .technology:nth-child(1) .technology-card,
  .mobile-tab .technology:nth-child(4) .technology-card,
  .database-tab .technology:nth-child(2) .technology-card {
    background-image: linear-gradient(to bottom right, #f0fdf4, #dcfce7);
  }
  .frontend-tab .technology:nth-child(4) .technology-card, /* orange */
  .mobile-tab .technology:nth-child(6) .technology-card,
  .cloud-devops-tab .technology:nth-child(1) .technology-card {
    background-image: linear-gradient(to bottom right, #fff7ed, #ffedd4);
  }
  .frontend-tab .technology:nth-child(5) .technology-card, /* cyan */
   .backend-tab .technology:nth-child(5) .technology-card,
  .mobile-tab .technology:nth-child(2) .technology-card {
    background-image: linear-gradient(to bottom right, #ecfeff, #cffafe);
  }
  .frontend-tab .technology:nth-child(6) .technology-card, /* purple */
  .backend-tab .technology:nth-child(4) .technology-card,
  .mobile-tab .technology:nth-child(5) .technology-card,
  .cloud-devops-tab .technology:nth-child(5) .technology-card,
  .database-tab .technology:nth-child(5) .technology-card {
    background-image: linear-gradient(to bottom right, #faf5ff, #f3e8ff);
  }

  .backend-tab .technology:nth-child(3) .technology-card,
  .cloud-devops-tab .technology:nth-child(3) .technology-card,
  .database-tab .technology:nth-child(3) .technology-card {
    /* red */
    background-image: linear-gradient(to bottom right, #fef2f2, #fff5f5);
  }

  .backend-tab .technology:nth-child(6) .technology-card {
    /* teal */
    background-image: linear-gradient(to bottom right, #f0fdfa, #ccfbf1);
  }

  .mobile-tab .technology:nth-child(1) .technology-card,
  .database-tab .technology:nth-child(6) .technology-card {
    /* indigo */
    background-image: linear-gradient(to bottom right, #eff6ff, #dbeafe);
  }
  .database-tab .technology:nth-child(4) .technology-card {
    background-image: linear-gradient(to bottom right, #fffbeb, #fef3c7);
  }
  .technology-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);
  }
}

#testimonials {
  padding-block: 84px;
  background-image: linear-gradient(to bottom right, rgb(249 250 251), #fff7ed);
  .main {
    max-width: 1000px;
    margin: 0 auto;
  }
  #reviews-slider {
    .carousel-inner {
      box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 4px 6px -1px rgb(0 0 0 / 0.1);
      backdrop-filter: blur(8px);
    }

    .slide-card {
      border: 1px solid #f3f4f6;
      padding: 32px;
    }
    .review-icon {
      background-color: #fae8e0;
    }
    .review-avatar {
      width: 80px;
      height: 80px;
      border: 2px solid #ea580c33;
      padding: 2px;

      img {
        border-radius: 50%;
      }
    }

    .verified-badge {
      background-color: #fceee7;
      padding: 7px 14px;
    }
    .verified-sign {
      border: 2px solid #ffffff;
      background-image: linear-gradient(
        to bottom right,
        var(--default-main-color),
        var(--secondary-color)
      );
      width: 28px;
      height: 28px;
    }
    .info-span {
      background-image: linear-gradient(
        to right,
        var(--default-main-color),
        var(--secondary-color)
      );
    }
    .carousel-indicators {
      margin-top: 35px;
      button {
        width: 8px;
        height: 8px;
        background-color: #d1d5db;
        transition: 0.3s all;
        border: 1px solid transparent;

        &:hover {
          border-radius: 10px !important;
          width: 32px;
          background-color: color-mix(
            in oklab,
            var(--default-main-color) 50%,
            transparent
          );
        }
      }
      button.active {
        background-color: var(--default-main-color) !important;
      }
    }
    .divider {
      background-image: linear-gradient(
        to right,
        transparent,
        #e5e7eb,
        transparent
      );
      height: 2px;
      margin-bottom: 28px;
    }
  }
}

#faq {
  padding-block: 84px;
  .container {
    max-width: 900px !important;
  }
  .questions {
    margin-inline: 0;
    .accordion-button::after {
      display: none;
    }

    .accordion-item {
      margin-bottom: 14px;
      border: 1px solid #e5e7eb;
      border-radius: 15px;
      transition: all 0.3s ease-in-out;
      &:hover {
        border: 1px solid var(--default-main-color);
        .accordion-button {
          background-color: #f9fafb;
          &:not(.collapsed) {
            background-color: #f9fafb;
          }
        }
      }
      .accordion-button:not(.collapsed) div {
        i {
          transform: rotate(180deg);
        }
      }
      .accordion-button {
        padding: 24px;
        border-radius: 15px;
        border-top: 1px solid #e5e7eb;
        box-shadow: none;
        color: var(--text-dark-100);
        font-weight: 600;
        font-size: 18px;
        list-style: 28px;
        &:not(.collapsed) {
          background-color: transparent;
        }

        .accordion-icon {
          background-color: #fce9db;
          i {
            transition: all 0.3s;
          }
        }
      }
    }
  }

  /* .text-oncollapse {
    height: 88px;
    transition: 0.3s all;

    button {
      div {
        background-image: linear-gradient(
          to bottom right,
          #ea580c1a,
          #ea580c1a
        );
      }
    }
    &:hover {
      border-color: #ea580c !important;
    }
    &:hover button {
      background-color: #f9fafb !important;
    }
    .rotate-btn-arrow {
      transition: all 0.3s;
    }
  } */
}

#contact {
  padding-block: 84px;

  .container {
    max-width: 1200px !important;
  }
  background-image: linear-gradient(
    to bottom right,
    #ea580c0d,
    transparent,
    #c2410c0d
  );
  .main {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    border-radius: 20px;
  }

  .contact-us-form {
    padding: 48px;
    border-radius: 20px;
    border-start-end-radius: 0px;
    border-end-end-radius: 0px;
    input[type="text"],
    input[type="email"],
    select,
    textarea {
      transition: all 0.2s;
      padding: 16px 20px;
    }
    input[type="text"]:focus,
    input[type="email"]:focus,
    select:focus,
    textarea:focus {
      transform: translateY(-5px);
      border-color: var(--default-main-color);
      box-shadow: 0 0 0 3px #ea580c1a;
    }
    input[type="radio"] ~ label {
      cursor: pointer;
      transition: all 0.3s;
    }
    input[type="radio"]:hover ~ label {
      border-color: #d1d5db !important;
    }
    input[type="radio"]:checked ~ label {
      color: var(--default-main-color);
      border-color: var(--default-main-color) !important;
      background-color: #ea580c0d;
    }
    textarea {
      resize: none;
    }
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      accent-color: var(--default-main-color);
      margin-top: 4px;
    }
    button {
      padding: 20px;
      background-image: linear-gradient(
        to right,
        var(--default-main-color),
        var(--secondary-color),
        var(--accent-color)
      );
    }
  }
  .about-us-info {
    padding: 48px;
    border-radius: 20px;
    border-end-start-radius: 0px;
    border-start-start-radius: 0px;
    background-image: linear-gradient(
      to right bottom,
      var(--default-main-color),
      var(--secondary-color)
    );

    h4 {
      margin-bottom: 32px;
    }
    .feature {
      margin-bottom: 32px;
    }
    .icon-feature {
      width: 48px;
      height: 48px;
      background-color: #ffffff33;
    }
    .info-feature {
      width: 80%;
    }
    .text-feature {
      color: #ffffffcc;
    }
    .direct-contact {
      padding-top: 30px;
      border-color: #ffffff33 !important;
    }
  }
}

#footer {
  .logo-icon {
    background-image: linear-gradient(
      to bottom right,
      var(--default-main-color),
      var(--secondary-color)
    );
  }
  ul li a,
  ul li a i {
    transition: 0.3s all;
  }
  ul li:hover a {
    background-color: var(--default-main-color);
  }
  ul li:hover a i {
    color: white !important;
  }
}
